<footer>

	<div
		class="card text-center"
		style="background-color:#212529; border-radius: 0px;"
	>
		<div class="card-body text-center">
			<div style="color: #1cc3b2; padding-bottom: 30px; padding-top: 20px;">
				<h1>MEDIC'S BAY</h1>
				<h3>Dhaka</h3>
				<h4>Online healthcare</h4>
			</div>
			<div style="color: white;">
				<h5>useful Links :</h5>
				<a style="color: white;" href="/aboutus">About Us</a>
				<a style="color: white;" href="">Contact Us</a>
				<a style="color: white;" href="">Terms of service</a>
				<a style="color: white;" href="">Privacy policy</a>
			</div>
		</div>

		<div class="card-footer text-muted">
			copyright @2022
		</div>
	</div>

</footer>