<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{! Bootstrap css cdn link }}
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<title>Specialist</title>
		<style>
			.review{
				margin-top: 20px;
				width: 300px;
				background: gray;
				padding: 10px 15px;
				border: 1px solid white;
				border-radius: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}
			.review .star-widget input{
				display: none;

			}
			.star-widget label{
				font-size: 25px;
				color: #444;
				padding: 10px;
				float: right;
			}
			input:not(:checked)~label:hover,
			input:not(:checked)~label:hover~label{
				color: aqua;
			}
			input:checked~label{
				color: aqua;
			}
			input#rate-5:checked~label{
				color: yellow;
				text-shadow: 0 0 20px #952;
			}
		</style>
	</head>
	<script>
		function hideSearch(){
			search=document.getElementById("searcher");
			search.style.display='none';
		}	
	</script>

	<body style="background-color: #088875a1;" onload="hideSearch()">

		{{>navbar}}

		<div class="container">

			<div
				class="row justify-content-center py-5"
				style="display: flex; align-items: center;"
			>
				<div class="col-md-6" style="max-width: 300px;">
					<img
						src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000"
						class="img-fluid"
						alt=""
					/>
				</div>

				<div class="col-md-6">
					<div class="card-body" style="padding-top: 20px;">
						<h5 class="card-title">Dr. {{name}}</h5>
						<p class="card-text fs-5">Department: {{dept}}</p>
						<p class="card-text">{{qual}}</p>
						<div class="d-grid gap-2 d-md-block">
							<a href="/appointment">
							<button
								style="background-color: #035347; color: #c9d0d0; border-radius: 6px; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px;"
								type="button"
							>Set up an appointment</button>
							</a>

						</div>
						<div class="review">
						<div class="star-widget">
							<input type="radio" name="rate" id="rate-5">
							<label for="rate-5" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-4">
							<label for="rate-4" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-3">
							<label for="rate-3" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-2">
							<label for="rate-2" class="fas fa-star"></label>
							<input type="radio" name="rate" id="rate-1">
							<label for="rate-1" class="fas fa-star"></label>
							{{!Doctor Review will continue from here!}}
						</div>
						</div>
					</div>
				</div>

			</div>

			<div class="text-start fs-5 py-5">

				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel ut
					magnam, animi nobis similique sunt optio odit sapiente debitis fugiat
					exercitationem odio deleniti sequi. Perferendis voluptates maiores
					amet nesciunt inventore. Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Eaque amet voluptatibus animi. Eius expedita eveniet
					blanditiis sapiente quas, enim maxime consectetur quasi voluptatem aut
					dignissimos, reprehenderit voluptates minus praesentium dolorem! Lorem
					ipsum dolor sit amet consectetur adipisicing elit. Corporis porro
					aliquid quasi corrupti hic ipsa, voluptates harum dolore beatae. Id
					consequatur porro ipsa harum animi quam distinctio enim optio culpa!
				</p>

				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
					totam id saepe. Amet similique quam et adipisci quae eaque. Laborum
					quas beatae, delectus ea fugiat harum perspiciatis recusandae neque
					autem? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
					quos soluta, deserunt natus nesciunt cupiditate eaque, maiores
					eligendi facere est voluptates sit obcaecati ea ut similique odio
					rerum accusamus culpa. Lorem ipsum, dolor sit amet consectetur
					adipisicing elit. Veniam temporibus minus dolorum dolores ea quam ut
					tempora sit non? Iure quidem optio vero fuga delectus recusandae
					facilis molestiae adipisci blanditiis!
				</p>

			</div>

		</div>

		{{>footer}}

		{{! Bootstrap js cdn link }}
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"
		></script>

	</body>

</html>